.button {
  border-color: grey;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 0 10px 10px grey inset, 0 0 0 0 #ffafca;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.button:hover,
.button:focus {
  box-shadow: 0 0 5px 0 grey inset, 0 0 10px 4px grey;
  color: #ffafca;
}
