.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: gray;
}
.input {
  border-radius: 5px;
  border: 2px solid #ffafca;
  padding: 5px;
}
.input::placeholder {
  color: gray;
}
